<div class="ovh wf">
  <div
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollDown()"
    class="content"
  >
    @for(livro of livros; track livro.id){
    <div class="">
      <nz-card class="content-card"
        nzHoverable
        [nzCover]="coverTemplate"
        (click)="detalharLivro(livro)"
      >
        <nz-card-meta
          [nzTitle]="livro.titulo"
          [nzDescription]="livro.autor.nome"
        ></nz-card-meta>
      </nz-card>
      <ng-template #coverTemplate>
        <div class="fx-w fx-d-flex" style="justify-content: center">
          <imagem-component [src]="livro.capaUrl" />
        </div>
      </ng-template>
    </div>
    } @empty {
    <nz-empty></nz-empty>
    }
  </div>
</div>
