<div class="fx-row">
  <div>
    <imagem-component
      [src]="
        config.imageKitUrlEndPointLivros + 'livros' + '/' + livro.id + '.jpg'
      "
    />
  </div>
  <div class="fx-column fx-flex pd-10">
    <h1>
      {{ livro.titulo }}
    </h1>
    <div class="fx-row" style="align-items: center;">
      @if(livro.categoria){
        <button nz-button nzSize="large" nzType="dashed">
          {{ livro.categoria?.nome }}
        </button>
      }
      <div class="fx-flex"></div>
      <div class="fx-row gap-5">
        <span>Idioma: </span>
        {{ livro.idioma?.nome }}
      </div>
    </div>
    <p>
      {{ livro.descritivo }}
    </p>
    @if(livro.tags){
    <div>
      <div class="fx-row wf" style="flex-wrap: wrap">
        @for(tag of livro.tags; track tag.id){
        <nz-tag nzMode="checkable" (click)="visualizarLivrosTag(tag)">{{
          tag.nome
        }}</nz-tag>
        }
      </div>
    </div>
    }
  </div>
</div>
