<div class="fx-column host pd-5">
  <nz-page-header
    class="site-page-header"
    (nzBack)="onBack()"
    nzBackIcon
    [nzTitle]="livro.titulo"
    [nzSubtitle]="livro.autor.nome"
  ></nz-page-header>
  <div class="content">
    <div>
      <imagem-component [src]="livro.capaUrl" />
    </div>
    <div class="fx-column fx-flex pd-10" style="flex-wrap: wrap">
      <div class="fx-row" style="align-items: center; flex-wrap: wrap">
        @if(livro.categoria){
        <button
          nz-button
          nzSize="large"
          nzType="dashed"
          (click)="visualizarLivrosCategoria(livro.categoria)"
        >
          {{ livro.categoria.nome }}
        </button>
        }
        <div class="fx-flex"></div>
        <div class="fx-row gap-5">
          <span>Idioma: </span>
          {{ livro.idioma?.nome }}
        </div>
      </div>
      <p>
        {{ livro.descritivo }}
      </p>
      @if(livro.tags){
      <div>
        <div class="fx-row wf" style="flex-wrap: wrap">
          @for(tag of livro.tags; track tag.id){
          <nz-tag nzMode="checkable" (click)="visualizarLivrosTag(tag)">{{
            tag.nome
          }}</nz-tag>
          }
        </div>
      </div>
      }      
      <app-livro-comentario-component [livroId]="livro.id"/>
    </div>
  </div>
</div>
