@if(isLoading$ | async;){
<nz-skeleton [nzActive]="true"></nz-skeleton>
} @else { @if(livro$ | async; as livro ){

<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  [nzGhost]="false"
>
  <nz-page-header-title>{{ livro.titulo }}</nz-page-header-title>

  <nz-page-header-extra>
    <nz-space>
      <app-usuario-livro-component *nzSpaceItem [livroId]="livro.id" />
    </nz-space>
  </nz-page-header-extra>

  <nz-page-header-content>
    <span nz-typography nzType="secondary"> {{ livro.autor.nome }}</span>
    <div class="content">
      <div>
        <livro-imagem-component [identificador]="livro.identificador" />
      </div>
      <div class="fx-column fx-flex pd-10" style="flex-wrap: wrap">
        <div class="fx-row" style="align-items: center; flex-wrap: wrap">
          @if(livro.categoria){
          <button
            nz-button
            nzSize="large"
            nzType="dashed"
            (click)="visualizarLivrosCategoria(livro.categoria)"
          >
            {{ livro.categoria.nome }}
          </button>
          }
          <div class="fx-flex"></div>
          <div class="fx-row gap-5">
            <span>Idioma: </span>
            {{ livro.idioma?.nome }}
          </div>
        </div>
        <p>
          {{ livro.descritivo }}
        </p>
        @if(livro.tags){
        <div>
          <div class="fx-row wf" style="flex-wrap: wrap">
            @for(tag of livro.tags; track tag.id){
            <nz-tag nzMode="checkable" (click)="visualizarLivrosTag(tag)">{{
              tag.nome
            }}</nz-tag>
            }
          </div>
        </div>
        }
        <app-livro-comentario-component [livroId]="livro.id" />
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>

} }
