:host {
  background-color: white;
}

.content {
  flex-direction: row;
  display: flex;
  box-sizing: border-box;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }
}
