<div class="fw fx-row">
  <div>
    <nz-spin [nzSpinning]="loading">
      <ul nz-list [nzDataSource]="registros" nzBordered nzSize="small">
        <nz-list-header>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="Informe uma nova descrição"
              [(ngModel)]="descricao"
              (keydown.enter)="salvarDescricao()"
              [maxlength]="maxlengthDescricao"
              [disabled]="loading"
              #input
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <button
              nz-button
              nzType="dashed"
              nzShape="circle"
              nz-tooltip="Salvar"
              (click)="salvarDescricao()"
              [nzLoading]="loading"
            >
              <span nz-icon nzType="save"></span>
            </button>
          </ng-template>
        </nz-list-header>
        @for(item of registros; track item; let idx = $index){
        <li nz-list-item nzNoFlex>
          <ul nz-list-item-actions>
            <nz-list-item-action>
              <a
                nz-button
                nzType="link"
                nz-tooltip="Editar"
                (click)="editarDescricao(item)"
              >
                <span nz-icon nzType="edit" nzTheme="outline"></span
              ></a>
            </nz-list-item-action>
            <nz-list-item-action>
              <a
                nz-button
                nzType="link"
                nzDanger
                nz-tooltip="Remover"
                nz-popconfirm
                nzPopconfirmTitle="Deseja remover esse registro?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="removerDescricao(item, idx)"
              >
                <span nz-icon nzType="delete" nzTheme="outline"></span
              ></a>
            </nz-list-item-action>
          </ul>
          {{ item.descricao }}
        </li>
        }
      </ul>
    </nz-spin>
  </div>
  <div class="fx-flex"></div>
</div>
