<nz-layout class="layout">
  <nz-sider>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item (click)="visualizarPage('livros')">
        <fa-icon [icon]="faBook"></fa-icon>
        <span>Livros</span>
      </li>
      <li nz-menu-item (click)="visualizarPage('categorias')"> 
        <fa-icon [icon]="faList"></fa-icon>
        <span>Categorias</span>
      </li>
      <li nz-menu-item (click)="visualizarPage('tags')"> 
        <fa-icon [icon]="faTags"></fa-icon>
        <span>Tags</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>FOOTER</nz-footer>
  </nz-layout>
</nz-layout>
