<nz-layout class="layout">
  <nz-sider>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item (click)="visualizarPage('livros')">
        <span nz-icon nzType="book" nzTheme="outline"></span>
        <span>Livros</span>
      </li>
      <li nz-menu-item (click)="visualizarPage('categorias')">
        <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
        <span>Categorias</span>
      </li>
      <li nz-menu-item (click)="visualizarPage('tags')">
        <span nz-icon nzType="tags" nzTheme="outline"></span>
        <span>Tags</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>FOOTER</nz-footer>
  </nz-layout>
</nz-layout>
