@if((autenticacaoStore.authenticated()) && !(comentarioIdHistorico$ | async )){

<nz-comment [nzAuthor]="tplautor">
  <nz-comment-content>
    <nz-form-item>
      <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
    </nz-form-item>
    <nz-form-item>
      <button
        nz-button
        nzType="primary"
        [nzLoading]="loading"
        [disabled]="!inputValue || !rate"
        (click)="handleSubmit()"
      >
        Incluir
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
} @else if(!(autenticacaoStore.authenticated()) && !(comentarioIdHistorico$ | async ))
{<nz-alert
  nzType="info"
  nzMessage="É necessário estar logado para fazer um comentario."
></nz-alert
>}

<nz-list nzItemLayout="vertical" [nzLoading]="loading">
  @for(item of data$ | async; track item.id; let idx = $index){
  <nz-comment
    [nzAuthor]="item.nome"
    [nzDatetime]="item.displayTime | datedistance"
  >
    <nz-avatar
      nz-comment-avatar
      nzIcon="user"
      [nzSrc]="item.avatar"
    ></nz-avatar>

    <nz-comment-content>
      <nz-rate [(ngModel)]="item.rate" [nzDisabled]="true"></nz-rate>
      <p>{{ item.texto }}</p>
    </nz-comment-content>

    <nz-comment-action>
      @if((autenticacaoStore.authenticated()) && comentarioIdHistorico$ | async ; as
      comentarioIdHistorico){
      <span
        *ngIf="comentarioIdHistorico === item.id"
        nz-tooltip="Remover"
        nzTitle="Remover"
        nz-icon
        nzType="delete"
        (click)="removerComentario(item.id, idx)"
      ></span>
      }
    </nz-comment-action>
  </nz-comment>
  }
</nz-list>

<ng-template #tplautor>
  @if(autenticacaoStore.authenticated()){
  <app-menu-usuario-component  />
  }
  <nz-rate [(ngModel)]="rate"></nz-rate>
</ng-template>
