@if(loading$ | async; as loading){
<nz-skeleton [nzLoading]="loading" />
} @else {<app-input-pesquisa-component
  (eventSearch)="onSearchUpdated($event)"
/>}

<nz-list nzGrid style="width: 100%">
  <div nz-row [nzGutter]="6" class="gutter-row">
    @for(categoria of registros$ | async; track categoria.id){
    <div nz-col [nzXs]="24 / 1" [nzSm]="24 / 4">
      <nz-list-item (click)="visualizarLivrosTag(categoria)">
        @if(categoria.contalivros){
        <nz-ribbon [nzText]="categoria.contalivros">
          <ng-container
            *ngTemplateOutlet="tplcorpo; context: { $implicit: categoria }"
          />
        </nz-ribbon>
        } @else {
        <ng-container
          *ngTemplateOutlet="tplcorpo; context: { $implicit: categoria }"
        />
        }
      </nz-list-item>
    </div>
    }
  </div>
</nz-list>

<ng-template #tplcorpo let-categoria>
  <nz-card [nzHoverable]="true">
    {{ categoria.nome }}
  </nz-card>
</ng-template>
