<nz-layout>
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline">
      <li nz-submenu nzTitle="Usuário" nzIcon="user" nzOpen>
        <ul>
          <li nz-menu-item nzSelected nzMatchRouter>
            <a [routerLink]="['/usuario/perfil']">Básico</a>
          </li>
          <li nz-submenu nzTitle="Livros">
            <ul>
              <li nz-menu-item [routerLink]="['/usuario/colecao']">Lidos</li>
              <li nz-menu-item [routerLink]="['/usuario/colecao']">Ler</li>
              <li nz-menu-item [routerLink]="['/usuario/colecao']">
                Coleções / Listas
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Autor" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/usuario/autor']">Básico</a>
          </li>
          <li nz-submenu nzTitle="Livros">
            <ul>
              <li nz-menu-item>Meu Livros</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
